@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: white;
	color: #000;
}

img {
	object-position: center;
}

.img-container {
	@apply relative overflow-hidden w-full;
}

.img-container img {
	@apply w-full h-full object-cover absolute inset-0 max-w-full;
}